body {
    background-color: #222;
}

* {
    color: rgb(241, 233, 233);
  }

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 5px;
}

h4 {
    margin-bottom: 10px;
    font-size: 18px;
    background-color: #222;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #222;
}

input[type="radio"] {
    margin-right: 10px;
    background-color: #222;
}

button[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: rgba(255, 255, 255, 0.836);
    font-size: 16px;
    cursor: pointer;
}

.score-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 5px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    background-color: #222;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}